@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share style start */
body a{
    text-decoration: none;
    color: black;
}

body ul>li{
    list-style: none;
}
.commone-margin{
    max-width: 1158px;
    margin: 20px auto;
    padding: 0 10px;
}
.display-flex{
    display: flex;
}

.link-hover-style:hover{
    color: #be0505;
    
}


.commone-bg-img{
    background-image: url(../assets/bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}









/* share style end */




/* header style start */

/* nav-bar */
.nav-bar{
    align-items: center;
    justify-content: space-between;
}
.school{
    justify-content: center;
    align-items: center;
}
.school span{
    font-size: 2rem;
    font-weight: 700;
    color: #111111;
}

.link-list{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.link-list>li>a{
    font-size: 1.25rem;
    font-weight: 700;

}
.Home{
    color:#FEA301 ;
}

.About{

    color:#01ACFD ;
}
.Facilities{
    color:rgba(5, 212, 223, 1) ;
}
.Admission{
    color:rgba(93, 88, 239, 1) ;
}

.contact-btn{
    align-items: center;
    justify-content: center;
}

.contact-btn button{
    font-size: 1.25rem;
    font-weight: 600;
    color:#FFFFFF ;
    padding: 10px 30px;
    background-color: #FEA301;
    border-radius:12px;
    border: none;
    border: 1px solid #FEA301;

}
.contact-btn button:hover{
background-color: #FFFFFF;
color: #FEA301;
}
.contact-btn>i{
   font-size: 40px;
    display: none;
}
.banner-container{
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 640px;
}

.banner-img img{
    width: 100%;
}
.banner-content h1{
    font-size: 3.5rem;
    color: #111111;
    line-height: 61px;
    /* margin-bottom: 10px; */
}
.Empowering{
    color: #FEA301;
}
.towards{
    color:#01ACFD ;
}

.banner-content p{
    font-size: 1.25rem;
    color: #111111;
    /* margin-bottom: 10px; */
    padding: 17px 0px;
}
.banner-content button{
    font-size: 1.25rem;
    font-weight: 700;
    color:#FFFFFF ;
    padding: 10px 30px;
    background-color: #111111;
    border-radius:12px ;
    border: 1px solid black;
}
.banner-content button:hover{
    color: #111111;
    background-color: #FFFFFF;
}




/* header style end */


/* main style start */
/* Standard-Curriculum-section style start */
.chevoron-icon span>i{
    font-size: 15px;
}

.chevoron-icon span{

    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #FEA301;
    text-align: center;
    border-radius: 50%;
 
}







/* Standard-Curriculum-section style end */















/* main style end */








/* mobile style start */
@media screen and (max-width:576px){

    /* header style start */
    .link-list,
    .contact-btn button{
        display: none;
    }

    .contact-btn>i{
        display: block;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
    }
    
    /* header style end */
}