@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share style start */
body a{
    text-decoration: none;
    color: black;
}

body ul>li{
    list-style: none;
}
.commone-margin{
    max-width: 1158px;
    margin: 20px auto;
    padding: 0 10px;
}
.display-flex{
    display: flex;
}

.link-hover-style:hover{
    color: #be0505;
    
}


.commone-bg-img{
    margin: 60px 0;
    background-image: url(../assets/bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}









/* share style end */




/* header style start */

/* nav-bar */
.nav-bar{
    align-items: center;
    justify-content: space-between;
}
.school{
    justify-content: center;
    align-items: center;
}
.school span{
    font-size: 2rem;
    font-weight: 700;
    color: #111111;
}

.link-list{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.link-list>li>a{
    font-size: 1.25rem;
    font-weight: 700;

}
.Home{
    color:#FEA301 ;
}

.About{

    color:#01ACFD ;
}
.Facilities{
    color:rgba(5, 212, 223, 1) ;
}
.Admission{
    color:rgba(93, 88, 239, 1) ;
}

.contact-btn{
    align-items: center;
    justify-content: center;
}

.contact-btn button{
    font-size: 1.25rem;
    font-weight: 600;
    color:#FFFFFF ;
    padding: 10px 30px;
    background-color: #FEA301;
    border-radius:12px;
    border: none;
    border: 1px solid #FEA301;

}
.contact-btn button:hover{
background-color: #FFFFFF;
color: #FEA301;
}
.contact-btn>i{
   font-size: 40px;
    display: none;
}
.banner-container{
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 640px;
}

.banner-img img{
    width: 100%;
}
.banner-content h1{
    font-size: 3.5rem;
    color: #111111;
    line-height: 61px;
    /* margin-bottom: 10px; */
}
.Empowering{
    color: #FEA301;
}
.towards{
    color:#01ACFD ;
}

.banner-content p{
    font-size: 1.25rem;
    color: #111111;
    /* margin-bottom: 10px; */
    padding: 17px 0px;
}
.banner-content button{
    font-size: 1.25rem;
    font-weight: 700;
    color:#FFFFFF ;
    padding: 10px 30px;
    background-color: #111111;
    border-radius:12px ;
    border: 1px solid black;
}
.banner-content button:hover{
    color: #111111;
    background-color: #FFFFFF;
}


.marquee marquee{

    font-size: 1.25rem;
    font-weight: 700;
    color: #FEA301;
    line-height: 28px;
}


/* header style end */


/* main style start */
/* Standard-Curriculum-section style start */
.chevoron-icon span>i{
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
    
}

.chevoron-icon span{

    display: inline-block;
    
    height: 25px;
    width: 25px;
    background-color: #FEA301;
    text-align: center;
    border-radius: 50%;
 
}

.Standard-item-container{
    text-align: center;
}
.Standard-item-container h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}
.Standard-item-content {
max-width: 1160px;
margin: 70px 0px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.Standard-item-content>.item{
    padding: 10px;
    border-radius:18px ;
    /* box-shadow: 3px 3px ; */
    border: none;
}

/* .Standard-item-content>.item img{
width: 100%;
} */


.Standard-item-content>.item h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
    padding-top: 10px;
}

.Standard-item-content>.item p{
    font-size: 0.95rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    padding: 20px 0;
    line-height: 28px;
}

.Standard-item-content>.item span{

    display: inline-block;
    font-size: 0.95rem;
    font-weight: 700;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 20px;
    
}
.Standard-item-content>.item span:hover{

    color: #be0505;
    cursor: pointer;
}

.Standard-item-content>.item-1{
    background-image: linear-gradient(rgba(222, 245, 255, 1) ,rgba(255, 255, 255, 1));
    border: 1px solid rgba(222, 245, 255, 1);
}

.Standard-item-content>.item-1>span{

    color: rgba(100, 200, 255, 1);
}

.Standard-item-content>.item-2{
    background-image: linear-gradient(rgba(255, 244, 220, 1) ,rgba(255, 255, 255, 1));
    border: 1px solid rgba(255, 244, 220, 1);
}

.Standard-item-content>.item-2>span{

    color: rgba(240, 170, 0, 1);
}

.Standard-item-content>.item-3{
    background-image: linear-gradient(rgba(242, 232, 255, 1) 0%, #FFFFFF);
    border: 1px solid rgba(242, 232, 255, 1);
}


.Standard-item-content>.item-3>span{

    color: rgba(135, 0, 255, 1);
}



/* Standard-Curriculum-section style end */

/* stories-section style start */

.our-stories-section{
    background-image: linear-gradient(rgba(255, 255, 255, 0.466),rgba(254, 161, 1, 0.411)  ),
     url(../assets/bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
}
.stories-container{
    text-align: center;
    margin-bottom: 0px;
}
.stories-content{
    
        max-width: 1160px;
        margin: 70px 0px;
        display: grid;
       

        grid-template-areas:
        'a-fun a-fun find-out summer'
        'a-fun a-fun classroom conversation'
        ;
    
        gap: 10px;
        
}
.storie-item img{
    width: 100%;
}
.storie-item{
    background-color: #FFFFFF;
}


.storie-item-1{
    grid-area: a-fun;
    
}


.storie-item-2{
    grid-area: find-out;
}

.storie-item-3{
    grid-area: summer;
}

.storie-item-4{
    grid-area: classroom;
}

.storie-item-5{
    grid-area: conversation;
}

.storie-item{
    
   border-radius: 16px;
   overflow: hidden;
   
}

.content-box{
    text-align: start;
    padding: 20px;
}
.content-box span{
  font-size: 0.95rem;  
  font-weight: 500;
  color:#FFFFFF;
  display: inline-block;
}

.storie-item-1>.content-box>span{
    background-color: rgba(60, 216, 232, 1);
    padding: 10px;
    border-radius: 47px;
    position: absolute;
    margin-top: -45px;
}

.storie-item-2>.content-box>span{
    background-color: rgba(149, 178, 38, 1);
    padding: 10px;
    border-radius: 47px;
    position: absolute;
    margin-top: -45px;
}


.storie-item-3>.content-box>span{
    background-color: rgba(93, 88, 240, 1);
    padding: 10px;
    border-radius: 47px;
    position: absolute;
    margin-top: -45px;
}


.storie-item-4>.content-box>span{
    background-color: rgb(60, 232, 175);
    padding: 10px;
    border-radius: 47px;
    position: absolute;
    margin-top: -45px;
}

.storie-item-5>.content-box>span{
    background-color: rgba(75, 10, 129, 0.934);
    padding: 10px;
    border-radius: 47px;
    position: absolute;
    margin-top: -45px;
}
.content-box h3{
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    line-height: 28px;
    margin-top: 7px;
}

.storie-item-1>.content-box>h3{

    font-size: 1.5rem;
    line-height: 38px;

}

.storie-item-1>.content-box>p{

    font-size: 1rem;
    line-height: 28px;
    color: rgba(102, 102, 102, 1);
    margin-top: 20px;

}

.stories-container button{
    margin-bottom: 60px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #111111;
    font-weight: 600;
    border-radius: 12px;
    padding: 10px 30px;
    border: none;
}


/* stories-section style end */








/* main style end */


/* footer style start*/

.footer{
    width: 100%;
    background-color:rgba(1, 172, 253, 1) ;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

 .footer-container{

    /* min-width: 1070px;
    margin: 0 auto; */
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    

    padding: 40px;
}
.footer-logo span{
    /* display: inline-block; */
    font-size: 1.45rem;
    color: #FFFFFF;
    font-weight: 700;
}
.footer-logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom:35px ;
}

.footer-container p{
    font-size: 1.25rem;
    color: #FFFFFF;

}

.about-link h4{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 32px;
}

.about-link ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.about-link ul>li>a{
    color: #FFFFFF;
    font-size: 1.25rem;
}

.keep-touch h4{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 32px;
}






/* mobile style start */
@media screen and (max-width:576px){

    /* header style start */
    .nav-bar{

        /* padding: 20px 0; */
        /* margin-top: 0%; */
        padding-bottom: 20px;
    border-bottom: 1px solid #FEA301;
    }
    .link-list,
    .contact-btn button,
    .chevoron-icon,
    .storie-item-1
    {
        display: none;
    }

    .contact-btn>i{
        display: block;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content{
        text-align: center;
    }
    
    /* header style end */

    /* main style start */
    /* 1 */
    .Standard-item-content{
        grid-template-columns:1fr ;
        gap: 20px;
    }

    .stories-content{

        grid-template-areas:
        ' find-out summer'
        ' classroom conversation'
        ;
    }
 
     /* main style end */

     /* footer */
     .footer-container{
        grid-template-columns: 1fr;
        /* align-content: start; */
        justify-items: start;
        gap: 25px;
     }
}